<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" th:href="@{/css/auth.css}">
</head>
<body>
<div class="auth-container">
    <h2>로그인</h2>
    <input type="text" id="user_id" placeholder="아이디">
    <input type="password" id="password" placeholder="비밀번호">
    <button id="signin">로그인</button>
    <p>계정이 없으신가요? <a th:href="@{/members/join}">회원가입</a></p>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/auth.js}"></script>
<script th:src="@{/js/logIn.js}"></script>
</body>
</html>