<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 목록</title>
    <!-- FontAwesome 아이콘 라이브러리 추가 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>

<!-- 상단 헤더 -->
<header class="navbar header-container">
    <!--헤더 설정 fragment-->
    <div th:replace="~{fragments/header :: main-header}"></div>
</header>

<div class="product-container">
    <div class="product-grid" id="productGrid">
        <!-- JS로 상품이 동적으로 추가됨 -->
    </div>

    <div id="pagination" class="pagination-container">
        <!-- JS로 페이지 버튼이 생성됨 -->
    </div>
</div>
<!-- 추가: 상품 등록 버튼 -->
<a href="/admin/write" class="floating-write-btn">
    <i class="fas fa-plus"></i>
</a>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/auth.js}"></script>
<script th:src="@{/js/myPage.js}"></script>
</body>
</html>