<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" th:href="@{/css/auth.css}">
</head>
<body>
<div class="auth-container">
    <h2>회원가입</h2>
    <input type="text" id="reg_id" placeholder="아이디">
    <input type="password" id="reg_pw" placeholder="비밀번호">
    <input type="text" id="reg_name" placeholder="이름">
    <button id="signup">가입하기</button>
    <p>이미 계정이 있으신가요? <a th:href="@{/members/login}">로그인</a></p>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/auth.js}"></script>
<script th:src="@{/js/signUp.js}"></script>
</body>
</html>